/* white */
#page_bg {
	/*background: url(../images/raufaser.png);*/
	background-color: #003c7e;
}

div#wrapper {
	/* background: url(../images/cork2.jpg); */
}

div#wrapper_r {
background-color:#D2D57A;
}
div#header {
background: url(../images/cork2.html); 
border-bottom-style: solid;
border-bottom-width: 8px;
}
div#header_l {

}
div#header_r {

}
div#footer {

}
div#footer_l {

}
div#footer_r {
