html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
:focus {
	outline: 0;
}
.jancitation {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000;
	background-color: #FFF;
}
.clear {
	clear: both;
}
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #000;
	background-color: #FFF;
}
a {
	color: #F00;
	text-decoration: none;
}
#header {
	height: 290px;
	width: 950px;
	position: relative;
	margin-right: auto;
	margin-left: auto;
	background-image: url(../../eccb12/static/images/header.gif);
	background-repeat: no-repeat;
	background-position: center top;
	margin-top: 10px;
}
#footer {
	padding-bottom: 25px;
	margin:0px auto;
	position: relative;
	width: 540px;
	clear: both;
	padding-top: 30px;
	background-image: url(../../eccb12/static/images/points.gif);
	background-repeat: no-repeat;
	background-position: 0px 5px;
	text-align: left;
	color: #000;
}
.sidebar {
	float: right;
	width: 180px;
	position: relative;
	padding-left: 20px;
}
.sidebar h1 {
	font-size: 12px;
	font-weight: bold;
	padding-bottom: 13px;
	padding-top: 10px;
	letter-spacing: 1px;
}
.sidebar .line {
	clear: both;
	background-image: url(../../eccb12/static/images/points.gif);
	background-repeat: no-repeat;
	background-position: left center;
	width: 154px;
	height: 24px;
}

#content {
	width: 950px;
	position: relative;
	margin-right: auto;
	margin-left: auto;
}
.menue {
	width: 135px;
	position: relative;
	float: left;
	padding-left: 55px;
	text-transform: uppercase;
}
.menue a {
	color: #666;
	text-decoration: none;
	display: block;
	font-size: 14px;
	line-height: 33px;
	position: relative;
	height: 33px;
}
.menue_social {
	float: left;
}
.menue a:hover {
	color: #F00;
}
.menue .active {
	color: #F00;
}
.menue .submenue {
	padding-left: 40px;
	line-height: 28px;
	height: 28px;
	text-transform: none;
}
.middle {
	width: 540px;
	padding-right: 20px;
	position: relative;
	text-align: justify;
	line-height: 16px;
	float: left;
}
.middle h1 {
	font-size: 22px;
	text-transform: uppercase;
	font-weight: normal;
	padding-bottom: 11px;
	letter-spacing: 1pt;
	text-align: left;
}
.middle h2 {
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
}
.middle .box {
	width: 154px;
	float: left;
	margin-right: 39px;
	position: relative;
}
.middle .box2 {
	width: 154px;
	float: left;
	position: relative;
}
.black {
	font-weight: normal;
	color: #FFF;
	background-color: #000;
	text-align: center;
	padding-top: 3px;
	padding-bottom: 3px;
	font-size: 11px;
	width: 154px;
	position: relative;
	margin-bottom: 15px;
}
.carousel-middle {
        overflow: hidden;
        height: 90px;
        width: 540px;
}
.carousel-image-border {
	text-align:center;
	border: 0px;
        float: left;
        height: 90px;
        width: 154px;
}
.carousel-image-border-middle {
	text-align:center;
	border-right: 39px solid white;
	border-left: 39px solid white;
        float: left;
        height: 90px;
        width: 154px;
	border-right-style;
}
.outerfooter {
	width: 100%;
	text-align:center;
}
.link_footer {
        padding-bottom: 5px;
        margin:0px auto;
        position: relative;
        width: 100%;
        clear: both;
	background-color: #EEE;
        padding-top: 5px;
        text-align: center;
        color: #000;
}

